body {
   

  background: linear-gradient(180deg, rgba(183,204,255,1) 0%, rgba(255,255,255,1) 100%);
  
  background-attachment: fixed;
  background-size: cover;
}


.navbar {
    background-size: cover;
    font-size: 10px;
    padding: 0;
    padding-left: .5em;
}


.span_bleu {
  color: #0AC3A7;
  font-weight: 500;

} 
.span_gras {
  font-weight: 800;
}

.container {
  padding-top: 5em;
  justify-content: space-around;
  width: auto;
}

.base {
  padding-top: 3em;
}

.row {
  display: flex;
  justify-content: space-around;
  text-align: start;

}


.container-fluid {
    padding: 0;
    
}



a {
  color: white;
  display: inline;
}





.categorie {
    height: auto;
    padding-top: 3em;
    width: auto;
    background: url(../public/computer-1209641_1920.jpg);
    background-attachment: fixed;
    background-size: cover;
    color: aliceblue;
    padding-bottom: 3em;
}




h1 {
    font-size: 25px;
    text-align: center;
}

h2 {
    font-size: 15px;
}

h3 {
    font-size: 15px;
}

p> {
    font-size: 10px;
}


img {
    width: 30%;
}

iframe {
    margin: auto;
    display: flex;
    padding-bottom: 2px;
}





footer {
  width: auto;
  margin: 0 0 0 0;
  background-color: #33678a;
  background-attachment: fixed;
  background-size: cover;
  color: aliceblue;
  height: 8em;
}

/* wave */
.header {
    position:relative;
    text-align:center;
    background: linear-gradient(60deg, rgba(84,58,183,1) 0%, rgba(0,172,193,1) 100%);
    background-attachment: fixed;
    color:white;
    padding-top: 5em;
}

.inner-header {
    height:20em;
    width:100%;
    margin: 0;
    padding: 0;
}
  
.flex { /*Flexbox for containers*/
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
}
  
.waves {
    position:relative;
    width: 100%;
    height:15vh;
    margin-bottom:-7px; /*Fix for safari gap*/
    min-height:100px;
    max-height:150px;
}
  
.content {
    position:relative;
    height:20vh;
    text-align:center;
    background-color: white;
}
  
/* Animation */
  
.parallax > use {
    animation: move-forever 25s cubic-bezier(.55,.5,.45,.5)     infinite;
}
.parallax > use:nth-child(1) {
    animation-delay: -2s;
    animation-duration: 7s;
}
.parallax > use:nth-child(2) {
    animation-delay: -3s;
    animation-duration: 10s;
}
.parallax > use:nth-child(3) {
    animation-delay: -4s;
    animation-duration: 13s;
}
.parallax > use:nth-child(4) {
    animation-delay: -5s;
    animation-duration: 20s;
}
@keyframes move-forever {
    0% {
    transform: translate3d(-90px,0,0);
}
    100% { 
        transform: translate3d(85px,0,0);
    }
}
/*Shrinking for mobile*/
@media (max-width: 768px) {
    .waves {
    height:40px;
    min-height:40px;
    }
    .content {
        height:30vh;
    }
    
}
/* fin wave */
/* bateau */

.p-triangle {
    width: 0;
    height: 0;
    border-style: solid;
}

.p-scalane {
    border-width: 0 40px 120px 40px;
    border-color: transparent transparent rgba(255, 255, 255, 0.6) transparent;
}
.p-scalane--sm {
    -webkit-backface-visibility: hidden;
            backface-visibility: hidden;
    border-width: 0 10px 30px 10px;
    border-color: transparent transparent #fff transparent;
}
.p-equilateral {
    border-width: 70px 40px 0 40px;
    border-color: #fff transparent transparent transparent;
}
.p-flex {
    display: flex;
    justify-content: center;
}
.boat {
    -webkit-animation: sail_away 2s 2s ease-in-out alternate 40;
            animation: sail_away 2s 2s ease-in-out alternate 40;
    width: 480px;
    margin: 10% auto;
}
.boat__top {
    position: relative;
}
.boat__top-flagpole {
    width: 80px;
    height: 120px;
    border-left: 2.4px solid #fff;
    margin-left: -1.2px;
    position: absolute;
    top: 1.2px;
    left: 50%;
}
.boat__top-flagpole > .p-scalane--sm {
    -webkit-animation: flag 2s ease-in forwards;
            animation: flag 2s ease-in forwards;
    position: absolute;
    top: -12px;
    left: 2.6px;
    -webkit-transform: rotate(90deg);
            transform: rotate(90deg);
}
.boat__bottom > .p-triangle:nth-child(even) {
    border-top-color: rgba(255, 255, 255, 0.6);
    margin: -40px;
    -webkit-transform: rotateX(180deg) translateY(-40px);
            transform: rotateX(180deg) translateY(-40px);
}
@-webkit-keyframes flag {
    from {
        top: 100%;
    }
    to {
        top: -12px;
    }
}
  
@keyframes flag {
    from {
    top: 100%;
    }
    to {
    top: -12px;
    }
}
@-webkit-keyframes sail_away {
    50% {
        -webkit-transform: rotate(2deg) translate(20px);
        transform: rotate(2deg) translate(20px);
    }
    100% {
    -webkit-transform: rotate(-3deg) translate(-10px);
            transform: rotate(-3deg) translate(-10px);
    }
}
@keyframes sail_away {
    50% {
    -webkit-transform: rotate(2deg) translate(20px);
            transform: rotate(2deg) translate(20px);
    }
    100% {
    -webkit-transform: rotate(-3deg) translate(-10px);
            transform: rotate(-3deg) translate(-10px);
    }
}


  /* fin bateau */

/* timeline */
@import "https://fonts.googleapis.com/css?family=Dosis:300,400,500,600,700";
header:after, #timeline .timeline-item:after, header:before, #timeline .timeline-item:before {
  content: '';
  display: block;
  width: 100%;
  clear: both;
}

*, *:before, *:after {
  box-sizing: border-box;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
}

body, html {
  height: 100%;
}

 

/* img {
  max-width: 100%;
} */

a {
  text-decoration: none;
}

.container {
  max-width: 1100px;
  margin: 0 auto;
}

#ror {
  font-family: 'Anton', sans-serif;

}

#ddd {
  width: 200px;
}



.project-name {
  text-align: center;
  padding: 10px 0;
}

header {
  background: #2b2e48;
  padding: 10px;
  -webkit-box-shadow: 0 3px 3px rgba(0, 0, 0, 0.05);
  -moz-box-shadow: 0 3px 3px rgba(0, 0, 0, 0.05);
  -ms-box-shadow: 0 3px 3px rgba(0, 0, 0, 0.05);
  box-shadow: 0 3px 3px rgba(0, 0, 0, 0.05);
}
header .logo {
  color: #ee4d4d;
  float: left;
  font-family: "Dosis", arial, tahoma, verdana;
  font-size: 22px;
  font-weight: 500;
}
header .logo > span {
  color: #f7aaaa;
  font-weight: 300;
}
header .social {
  float: right;
}
header .social .btn {
  font-family: "Dosis";
  font-size: 14px;
  margin: 10px 5px;
}

#timeline {
  width: 70%;
  margin: 30px 10px 30px 10px;
  position: relative;
  padding: 0 10px;
  -webkit-transition: all 0.4s ease;
  -moz-transition: all 0.4s ease;
  -ms-transition: all 0.4s ease;
  transition: all 0.4s ease;
}
#timeline:before {
  content: "";
  width: 3px;
  height: 100%;
  background: #ee4d4d;
  left: 50%;
  top: 0;
  position: absolute;
}
#timeline:after {
  content: "";
  clear: both;
  display: table;
  width: 100%;
}
#timeline .timeline-item {
  margin-bottom: 50px;
  position: relative;
}
#timeline .timeline-item .timeline-icon {
  background: #ee4d4d;
  width: 50px;
  height: 50px;
  position: absolute;
  top: 0;
  left: 50%;
  overflow: hidden;
  margin-left: -23px;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  -ms-border-radius: 50%;
  border-radius: 50%;
}
#timeline .timeline-item .timeline-icon svg {
  position: relative;
  top: 14px;
  left: 14px;
}
#timeline .timeline-item .timeline-content {
  width: 45%;
  background: #fff;
  padding: 20px;
  -webkit-box-shadow: 0 3px 0 rgba(0, 0, 0, 0.1);
  -moz-box-shadow: 0 3px 0 rgba(0, 0, 0, 0.1);
  -ms-box-shadow: 0 3px 0 rgba(0, 0, 0, 0.1);
  box-shadow: 0 3px 0 rgba(0, 0, 0, 0.1);
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  -ms-border-radius: 5px;
  border-radius: 5px;
  -webkit-transition: all 0.3s ease;
  -moz-transition: all 0.3s ease;
  -ms-transition: all 0.3s ease;
  transition: all 0.3s ease;
}
#timeline .timeline-item .timeline-content h2 {
  padding: 15px;
  background: #ee4d4d;
  color: #fff;
  margin: -20px -20px 0 -20px;
  font-weight: 300;
  -webkit-border-radius: 3px 3px 0 0;
  -moz-border-radius: 3px 3px 0 0;
  -ms-border-radius: 3px 3px 0 0;
  border-radius: 3px 3px 0 0;
}
#timeline .timeline-item .timeline-content:before {
  content: '';
  position: absolute;
  left: 45%;
  top: 20px;
  width: 0;
  height: 0;
  border-top: 7px solid transparent;
  border-bottom: 7px solid transparent;
  border-left: 7px solid #ee4d4d;
}
#timeline .timeline-item .timeline-content.right {
  float: right;
}
#timeline .timeline-item .timeline-content.right:before {
  content: '';
  right: 45%;
  left: inherit;
  border-left: 0;
  border-right: 7px solid #ee4d4d;
}



@media screen and (max-width: 768px) {
  #timeline {
    margin: 30px;
    padding: 0px;
    width: 90%;
  }
  #timeline:before {
    left: 0;
  }
  #timeline .timeline-item .timeline-content {
    width: 90%;
    float: right;
  }
  #timeline .timeline-item .timeline-content:before, #timeline .timeline-item .timeline-content.right:before {
    left: 10%;
    margin-left: -6px;
    border-left: 0;
    border-right: 7px solid #ee4d4d;
  }
  #timeline .timeline-item .timeline-icon {
    left: 0;
  }
}

/* fin timeline */

#encours {
  margin: 10em 0 0 0;
  border-radius: 10px;
  width: auto;
  height: 30em;
}

/* load_circle */

.load {
  position: relative;
  width: auto;
  border-radius: 10px 10px 0 0;
  display: flex;
  justify-content: center;
  align-items: center;
  background: #f15a5a;
  background-size: cover;
}

.spin {
  background-color: #00000020;
  height: 70px;
  width: 70px;
  border-radius: 100px;
  border: 5px solid #00000000;
  border-top: 5px solid #ffffff;
  animation: loading 2s linear infinite;
}

.loading {
  position: absolute;
  color: #ffffff;
  font-family: Arial, Helvetica, sans-serif;
}

@keyframes loading {
  100% {
    transform: rotate(360deg);
  }
}

/* fin load_circle */

#white {
  background-color: #ffffff;
  border-radius: 0 0 10px 10px;
  height: 15em;
  box-shadow: 13px 13px 43px -10px rgba(0,0,0,0.75);
}

/* hover */

#hover{
  background: url(../Public/screenPixel.png);
  background-position: center;
  background-size: 80vmin;
  background-position-y: -2px;
  width:80%; height:auto;
  display:block;
  margin:auto;
}
text{
  font-size:10px;
  transition:font-size .8s ease-out;
  font-weight:900;
  font-family:arial;
}
svg:hover text{
  transition:font-size .8s ease-in;
  font-size: 300px;
}
/* finhover */

/* js */

[class*="revealV-"] {
  opacity: 0;
  transform: translateY(-20px);
}

.revealV-visible {
  opacity: 1;
  transform: translateY(0);
  transition: 1s cubic-bezier(.5, 0, 0, 1);

}

.revealV-1 {
  transition-delay: 0;
}

.revealV-2 {
  transition-delay: .1s;
}

.revealV-3 {
  transition-delay: .2s;
}

.revealV-4 {
  transition-delay: .3s;
}

.revealV-5 {
  transition-delay: .4s;
}



.reveal {
  opacity: 0;
  transform: translateY(-70px);
}

.reveal-visible {
  opacity: 1;
  transform: translateY(0);
  transition: 1s cubic-bezier(.5, 0, 0, 1);
}

.reveal-H {
  opacity: 0;
  transform: translateX(-20px);
}

.reveal-visible-H {
  opacity: 1;
  transform: translateX(0);
  transition: 1s cubic-bezier(.5, 0, 0, 1);
}

.reveal-H-R {
  opacity: 0;
  transform: translateX(50px);
}

.reveal-visible-H-R {
  opacity: 1;
  transform: translateX(-50px);
  transition: 1s cubic-bezier(.5, 0, 0, 1);
}
/* fin js */