body, html {
   
  overflow-x: hidden; 
   
  background: linear-gradient(180deg, rgba(183,204,255,1) 0%, rgba(255,255,255,1) 100%);
  
  background-attachment: fixed;
  background-size: cover;
}


.navbar {
    background-size: cover;
    font-size: 20px;
    padding: 0;
    padding-left: .5em;
}


.span_bleu {
  color: #0AC3A7;
  font-weight: 500;

} 
.span_gras {
  font-weight: 800;
}
.base {
  padding-top: 3em;
}
.container {
  padding-top: 5em;
  justify-content: space-around;
  width: auto;
}



.ico{
  display: flex;
  justify-content: space-evenly;
  text-align: start;

}


.container-fluid {
    padding: 0;
    
}



a {
  color: white;
  display: inline;
}





.categorie {
    height: auto;
    padding-top: 3em;
    width: auto;
    background: url(../public/computer-1209641_1920.jpg);
    background-attachment: fixed;
    background-size: cover;
    color: aliceblue;
    padding-bottom: 3em;
}




h1 {
    font-size: 35px;
    text-align: center;
}

h2 {
    font-size: 25px;
}

h3 {
    font-size: 20px;
}

p> {
    font-size: 15px;
}


img {
    width: 30%;
}

iframe {
    width: 100%;
    height: 20em;
    margin: auto;
    display: flex;
    padding-bottom: 2px;
}

#ro {
  width: 100%;
  background-color: #CC0000;
  border-radius: 5px;
}



footer {
  width: auto;
  margin: 0 0 0 0;
  background-color: #33678a;
  background-attachment: fixed;
  background-size: cover;
  color: aliceblue;
  height: auto;
}

/* wave */



.header {
    position:relative;
    text-align:center;
    background: linear-gradient(60deg, rgba(84,58,183,1) 0%, rgba(0,172,193,1) 100%);
    background-attachment: fixed;
    color:white;
    padding-top: 5em;
}

.inner-header {
    height:32em;
    width:100%;
    margin: auto;
    padding: 0;
}
  
.flex { /*Flexbox for containers*/
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
}
  
.waves {
    position:relative;
    width: 100%;
    height:15vh;
    margin-bottom:-7px; /*Fix for safari gap*/
    min-height:100px;
    max-height:150px;
}
  
.content {
    position:relative;
    height:20vh;
    text-align:center;
    background-color: white;
}
  
/* Animation */
  
.parallax > use {
    animation: move-forever 25s cubic-bezier(.55,.5,.45,.5)     infinite;
}
.parallax > use:nth-child(1) {
    animation-delay: -2s;
    animation-duration: 7s;
}
.parallax > use:nth-child(2) {
    animation-delay: -3s;
    animation-duration: 10s;
}
.parallax > use:nth-child(3) {
    animation-delay: -4s;
    animation-duration: 13s;
}
.parallax > use:nth-child(4) {
    animation-delay: -5s;
    animation-duration: 20s;
}
@keyframes move-forever {
    0% {
    transform: translate3d(-90px,0,0);
}
    100% { 
        transform: translate3d(85px,0,0);
    }
}
/*Shrinking for mobile*/
@media (max-width: 768px) {
    .waves {
    height:40px;
    min-height:40px;
    }
    .content {
        height:30vh;
    }
    
}
/* fin wave */
/* bateau */

.p-triangle {
    width: 0;
    height: 0;
    border-style: solid;
}

.p-scalane {
    border-width: 0 40px 120px 40px;
    border-color: transparent transparent rgba(255, 255, 255, 0.6) transparent;
}
.p-scalane--sm {
    -webkit-backface-visibility: hidden;
            backface-visibility: hidden;
    border-width: 0 10px 30px 10px;
    border-color: transparent transparent #fff transparent;
}
.p-equilateral {
    border-width: 70px 40px 0 40px;
    border-color: #fff transparent transparent transparent;
}
.p-flex {
    display: flex;
    justify-content: center;
}
.boat {
    -webkit-animation: sail_away 2s 2s ease-in-out alternate 40;
            animation: sail_away 2s 2s ease-in-out alternate 40;
    width: 480px;
    margin: 10% auto;
}
.boat__top {
    position: relative;
}
.boat__top-flagpole {
    width: 80px;
    height: 120px;
    border-left: 2.4px solid #fff;
    margin-left: -1.2px;
    position: absolute;
    top: 1.2px;
    left: 50%;
}
.boat__top-flagpole > .p-scalane--sm {
    -webkit-animation: flag 2s ease-in forwards;
            animation: flag 2s ease-in forwards;
    position: absolute;
    top: -12px;
    left: 2.6px;
    -webkit-transform: rotate(90deg);
            transform: rotate(90deg);
}
.boat__bottom > .p-triangle:nth-child(even) {
    border-top-color: rgba(255, 255, 255, 0.6);
    margin: -40px;
    -webkit-transform: rotateX(180deg) translateY(-40px);
            transform: rotateX(180deg) translateY(-40px);
}
@-webkit-keyframes flag {
    from {
        top: 100%;
    }
    to {
        top: -12px;
    }
}
  
@keyframes flag {
    from {
    top: 100%;
    }
    to {
    top: -12px;
    }
}
@-webkit-keyframes sail_away {
    50% {
        -webkit-transform: rotate(2deg) translate(20px);
        transform: rotate(2deg) translate(20px);
    }
    100% {
    -webkit-transform: rotate(-3deg) translate(-10px);
            transform: rotate(-3deg) translate(-10px);
    }
}
@keyframes sail_away {
    50% {
    -webkit-transform: rotate(2deg) translate(20px);
            transform: rotate(2deg) translate(20px);
    }
    100% {
    -webkit-transform: rotate(-3deg) translate(-10px);
            transform: rotate(-3deg) translate(-10px);
    }
}


  /* fin bateau */



#encours {
  margin: 10em 0 0 0;
  border-radius: 10px;
  width: auto;
  height: 30em;
}



#white {
  background-color: #ffffff;
  border-radius: 0 0 10px 10px;
  height: 15em;
  box-shadow: 13px 13px 43px -10px rgba(0,0,0,0.75);
}



/* js */

[class*="revealV-"] {
  opacity: 0;
  transform: translateY(-70px);
}

.revealV-visible {
  opacity: 1;
  transform: translateY(0);
  transition: 1s cubic-bezier(.5, 0, 0, 1);

}

.revealV-1 {
  transition-delay: 0;
}

.revealV-2 {
  transition-delay: .1s;
}

.revealV-3 {
  transition-delay: .2s;
}

.revealV-4 {
  transition-delay: .3s;
}

.revealV-5 {
  transition-delay: .4s;
}



.reveal {
  opacity: 0;
  transform: translateY(70px);
}

.reveal-visible {
  opacity: 1;
  transform: translateY(0);
  transition: 1s cubic-bezier(.5, 0, 0, 1);
}

.reveal-H {
  opacity: 0;
  transform: translateX(-20px);
}

.reveal-visible-H {
  opacity: 1;
  transform: translateX(0);
  transition: 1s cubic-bezier(.5, 0, 0, 1);
}

.reveal-H-R {
  opacity: 0;
  transform: translateX(50px);
}

.reveal-visible-H-R {
  opacity: 1;
  transform: translateX(0);
  transition: 1s cubic-bezier(.5, 0, 0, 1);
}
/* fin js */